<div class="container" fxLayout fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayout.xs="column"
     fxLayoutGap.xs="0"

>

  <app-join-game fxFlex="25%"></app-join-game>

  <div class="item item-2" fxFlex="50%">
    <div class="center">
            <app-new-game></app-new-game>
    </div>
  </div>



  <app-scoreboard fxFlex="25%"></app-scoreboard>
</div>

<div class="container" fxLayout fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayout.xs="column"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex="75%"
       fxFlexOffset.xs="0">
    <app-scoreboard></app-scoreboard>
  </div>
  <div class="item item-5" fxFlex
       fxFlexOffset.xs="0">

  </div>
</div>


