.mat-raised-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 100px;
  border-radius: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color: lightpink;
}
