<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <h1 style="text-align:center;">Participants</h1>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let participant of waitingParticipants">
      <td style="text-align:center;">{{participant.player.userName}}</td>
    </tr>
    </tbody>
  <br>
  <div *ngIf="this.isCurrentUserCreator(); then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <p style="text-align:center;"><i>Waiting for {{this.creatorUsername}} to start the game</i></p>
  </ng-template>
  <ng-template #elseBlock>
    <p style="text-align:center;"><i>Begin Game</i></p>
  </ng-template>
  </table>
</div>
